<!DOCTYPE html>
<html>

<head>
    <title>Eat Da Burgers</title>
    <!-- BOOTSTRAP - Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.0.js" integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk=" crossorigin="anonymous"></script>
    <!-- BOOTSTRAP - Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">

    <style>
        body {
            background-color: lightseagreen;
        }

        h1 {
            color: purple;
        }

    </style>
</head>

<body>
    <div class="page-header">
        <h1 class="text-center">Welcome To Eat Da Burger!</h1>
    </div>
    <!-- Used as placeholder for content from index.handlebars. -->
    {{{ body }}}
    <footer>
        <h6 class="text-center">(c) 2018 Yamini </h6>
    </footer>
</body>

</html>